body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

main {
  overflow: hidden;
  flex: 1 0 auto;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}
