$slider-negative-margin: 84px;

.top-bg {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(to top, transparent, transparent $slider-negative-margin, $black $slider-negative-margin);
  color: $white;

  @media (max-width: $desktop-width - 1) {
    align-items: stretch;

    background: $black;
  }
}
