@mixin font-normal ($font-size, $line-height) {
  font: #{$font-size}/#{$line-height} $font-family;
}

@mixin font-bold ($font-size, $line-height) {
  font: bold #{$font-size}/#{$line-height} $font-family;
}

@mixin section-heading () {
  font: 600 30px/35px $font-family;
  color: $black;

  @media (max-width: $desktop-width - 1) {
    font: 600 25px/29px $font-family;
  }

  @media (max-width: $tablet-width - 1) {
    font: 600 20px/23px $font-family;
  }
}
