// переменные цвета
$black: #161616;
$yellow: #ffe500;
$grey: #f1f2f5;
$white: #ffffff;

// переменные сетки
$widescreen-width: 1920px;
$desktop-layout-margin: 375px;
$desktop-horiz-margin: 340px;
$desktop-horiz-padding: $desktop-layout-margin - $desktop-horiz-margin;
$desktop-content-width: $widescreen-width - $desktop-horiz-margin * 2;

$mobile-layout-width: 320px;
$mobile-horiz-padding: 16px;
$mobile-content-width: $mobile-layout-width - $mobile-horiz-padding * 2;


// переменные брэйкпоинтов вьюпорта

$desktop-width: 1024px;
$tablet-width: 768px;

// переменные ретинизации
$retina-dpi: 1440dpi;
$retina-dppx: 1.5dppx;

